<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Cuprum|Roboto|Roboto+Condensed" rel="stylesheet">
    <title>Questioner | profile</title>
</head>
<body>

<header>
        <div class="header">
            <h1>Questioner</h1>
            
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="register.html">Sign up</a></li>
                <li><a href="login.html">About</a></li>
            </ul>
        </nav>
        
    </header>



    <div id="image-mama">
    <section class="main-tag">
        <div class="profile">
            <div class="img">
            <a><img src="https://placeimg.com/400/400/people" alt="hello"></a>
        </div>
            <h4>Username teeka</h4>
        </div>
    </section>
    <section id="main-question-commented">
            <div class="profile">
                
                <a><h1>questions asked</h1></a>
            
                <p>54</p>
            </div>

            <div class="profile">
                    
                    <a><h1>commented-on</h1></a>
                
                    <p>17</p>
            </div>
           
    </section>

    <section id="top-feed">
        <div>
            <h2>upcoming meet-ups</h2>
        </div>

        <div class="profile">
            <a href="meet_up.html"><h3>Andela hackathon</h3></a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="profile">
            <a href="meet_up.html"><h3>Kenya Agriculture</h3></a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            
        </div>
    </section>
    </div>

    <footer>
            <div class="wrapper"> 
                <p>&copy; Questioner 2019</p>
            </div>
    </footer>
    



</body>
</html>